<div id="<%= dom_id genre %>" class="app-card mb-3">
  <div class="app-card__body p-4">
    <dl class="row mb-0">
      <dt class="col-sm-3 text-muted fw-semibold">Nome</dt>
      <dd class="col-sm-9">
        <%= genre.nome %>
      </dd>
    </dl>
  </div>
</div>
